
@import "variables/global";
@import "theme/basic";
@import "theme/dark";
@import "reset";

.app {
	font: var(--font-m);
	background-color: var(--bg-color);
	color: var(--primory-color);

	min-height: 100vh;
}
