.app.dark {
    --bg-color: var(--heavy-purple);
    --bg-inverted-color: var(--ragin-beige);
    
    --primory-color: var(--freeze-purple);
    --inverted-primory-color: var(--brown-main);
    --secondary-color: var(--purple-main);
}
